Repository swing-collection/swing-wellknown, changes with the owners that .github/CODEOWNERS names for each.
All owners: @swing-collection, @scape-agency, @vanvianen

Update pyproject.toml
  pyproject.toml
Owners: @swing-collection, @scape-agency, @vanvianen

Update dependabot.yml
  .github/dependabot.yml
Owners: @swing-collection, @scape-agency, @vanvianen

Update pyproject.toml
  pyproject.toml
Owners: @swing-collection, @scape-agency, @vanvianen

Update .gitignore
  .gitignore
Owners: @swing-collection, @scape-agency, @vanvianen

Refactor texts app: jinja2, JSON helpers, tests
  src/swing_text/apps.py
  src/swing_text/data/_brand.json
  src/swing_text/data/_social.json
  src/swing_text/helpers/helper_json.py
  src/swing_text/jinja2.py
  src/swing_text/jinja2/_manifest.webmanifest
  src/swing_text/jinja2/ads.txt.jinja
  src/swing_text/jinja2/browserconfig.xml
  src/swing_text/jinja2/business.txt.jinja
  src/swing_text/jinja2/contact.ldif.jinja
  src/swing_text/jinja2/contact.vcard.jinja
  src/swing_text/jinja2/contact.vcr.jinja
  src/swing_text/jinja2/copyright.txt.jinja
  src/swing_text/jinja2/earth.txt.jinja
  src/swing_text/jinja2/hackers.txt.jinja
  src/swing_text/jinja2/humans.txt.jinja
  src/swing_text/jinja2/license.txt.jinja
  src/swing_text/jinja2/manifest.webmanifest
  src/swing_text/jinja2/pgp-key.txt.jinja
  src/swing_text/jinja2/robots.txt.jinja
  src/swing_text/jinja2/security.txt.jinja
  src/swing_text/jinja2/site.webmanifest
  src/swing_text/jinja2/trust.txt.jinja
  src/swing_text/layouts/humans.txt.jinja
  src/swing_text/layouts/robots.txt.jinja
  src/swing_text/layouts/security.txt.jinja
  src/swing_text/templates/business.txt
  src/swing_text/templates/humans copy.txt
  src/swing_text/templates/robots.txt.jinja
  src/swing_text/templates/security copy.txt
  src/swing_text/tests/test_helpers.py
  src/swing_text/tests/test_urls.py
  src/swing_text/tests/test_views.py
  src/swing_text/tests/tests.py
  src/swing_text/urls/urls_texts.py
  src/swing_text/views/view_text.py
Owners: @vanvianen, @swing-collection, @scape-agency

Rename package to swing.wellknown
  pyproject.toml
  pytest.ini
  src/swing/wellknown/apps.py
  src/swing/wellknown/templates/_manifest.webmanifest
  src/swing/wellknown/templates/ads.txt.jinja
  src/swing/wellknown/templates/browserconfig.xml
  src/swing/wellknown/templates/business.txt.jinja
  src/swing/wellknown/templates/contact.ldif.jinja
  src/swing/wellknown/templates/contact.vcard.jinja
  src/swing/wellknown/templates/contact.vcr.jinja
  src/swing/wellknown/templates/copyright.txt.jinja
  src/swing/wellknown/templates/earth.txt.jinja
  src/swing/wellknown/templates/hackers.txt.jinja
  src/swing/wellknown/templates/humans.txt.jinja
  src/swing/wellknown/templates/license.txt.jinja
  src/swing/wellknown/templates/manifest.webmanifest
  src/swing/wellknown/templates/pgp-key.txt.jinja
  src/swing/wellknown/templates/robots.txt.jinja
  src/swing/wellknown/templates/security.txt.jinja
  src/swing/wellknown/templates/site.webmanifest
  src/swing/wellknown/templates/trust.txt.jinja
  src/swing/wellknown/tests/test_helpers.py
  src/swing/wellknown/urls/urls_texts.py
  src/swing/wellknown/views/view_text.py
  tox.ini
  tst/settings.py
  tst/urls.py
Owners: @swing-collection, @scape-agency, @vanvianen

Refactor helpers; add view loaders and configs
  .pylintrc
  cspell.json
  src/swing/wellknown/helpers/__init__.py
  src/swing/wellknown/helpers/helper_json.py
  src/swing/wellknown/helpers/helper_read_file.py
  src/swing/wellknown/helpers/helper_read_json.py
  src/swing/wellknown/helpers/helper_write_file.py
  src/swing/wellknown/helpers/helper_write_json.py
  src/swing/wellknown/tests/test_helpers.py
  src/swing/wellknown/views/__init__.py
  src/swing/wellknown/views/loader_brand.py
  src/swing/wellknown/views/loader_meta.py
  src/swing/wellknown/views/loader_social.py
  src/swing/wellknown/views/view_text.py
Owners: @swing-collection, @scape-agency, @vanvianen

Add wellknown models, admin and migrations
  src/swing/wellknown/admin.py
  src/swing/wellknown/migrations/0001_initial.py
  src/swing/wellknown/models.py
  src/swing/wellknown/views/view_text.py
  tst/settings.py
Owners: @vanvianen

refactor: split models.py and admin into packages
  src/swing/wellknown/admin.py
  src/swing/wellknown/admin/__init__.py
  src/swing/wellknown/admin/location.py
  src/swing/wellknown/admin/location_inline.py
  src/swing/wellknown/admin/robots_rule.py
  src/swing/wellknown/admin/security_policy.py
  src/swing/wellknown/admin/site_configuration.py
  src/swing/wellknown/admin/site_meta.py
  src/swing/wellknown/admin/sitemap.py
  src/swing/wellknown/admin/social_account.py
  src/swing/wellknown/admin/social_account_inline.py
  src/swing/wellknown/admin/wellknown_template.py
  src/swing/wellknown/models.py
  src/swing/wellknown/models/__init__.py
  src/swing/wellknown/models/location.py
  src/swing/wellknown/models/robots_rule.py
  src/swing/wellknown/models/security_policy.py
  src/swing/wellknown/models/singleton.py
  src/swing/wellknown/models/site_configuration.py
  src/swing/wellknown/models/site_meta.py
  src/swing/wellknown/models/sitemap.py
  src/swing/wellknown/models/social_account.py
  src/swing/wellknown/models/wellknown_template.py
  src/swing/wellknown/views/build_context_from_database.py
  src/swing/wellknown/views/build_context_from_json.py
  src/swing/wellknown/views/load_from_database.py
  src/swing/wellknown/views/view_text.py
Owners: @vanvianen

.github/CODEOWNERS:

# Code Owners

## Global

* @swing-collection @scape-agency @vanvianen

## Documentation

README.md   @vanvianen
/docs/      @vanvianen

## Typescript

*.ts        @vanvianen

## Python

*.py        @vanvianen
